{% extends 'base.html' %}
{% block title %}Pets{% endblock title %}

{% block main_info%}
{% for image in images %}
<img src="{{image.preview.url" alt="">
{% endfor %}

   <h2 class="text-center">Список животных:</h2>

{% for pet in data_from_db %}
<div class="container">
            <h2>{{ pet.name }}</h2>
            {% for photo in pet.photos.all %}
            <img src="{{ photo.middle.url }}" alt="{{ pet.name }} Photo" style="max-width: 300px; max-height: 300px;">
            {% endfor %}
            <p><strong>Вид:</strong> {{ pet.get_type_pet_display }}</p>
            <p><strong>Порода:</strong> {{ pet.breed }}</p>
            <p><strong>Дата рождения:</strong> {{ pet.birth_date }}</p>
            <p><strong>Пол:</strong> {% if pet.is_male %}Кабель{% else %}Девочка{% endif %}</p>

            <p><strong>Описание:</strong> {{ pet.description }}</p>

            {% with pet_nursery=pet.nursery %}
                <p><strong>Питомник: </strong> {{ pet_nursery.name|default:"___" }}</p>
            {% endwith %}
        </div>
        <hr>
</div>
    {% endfor %}

{% endblock main_info %}

