{% extends 'base.html' %}
{% block title %}Load photo{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Загрузить изображение</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'photo_load' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3 text-center">
                            {{ form }}
                        </div>
                        <div class="form-group mt-3 text-center">
                        <button
                                type="submit"
                                class="button button-contactForm boxed-btn">Загрузить</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="text-center">-->
<!--    <h1>Add Pet</h1>-->

<!--    <form method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ pet_form.as_p }}-->
<!--        {{ photo_form.as_p }}-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
<!--</div>-->

{% endblock content %}