{% load static %}
<div class="row">
    <div class="col-12">
        <h2 class="contact-title">Get in Touch</h2>
    </div>
    {% include 'myapp/error.html' %}
    <div class="col-lg-8">
        <form class="form-contact contact_form" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="row">
                {% for input in form %}
                {% if input.name == 'name' or input.name == 'email' %}
                <div class="col-sm-6">
                    {% endif %}
                    {% if input.name == 'message' or input.name == 'subject' %}
                    <div class="col-12">{% endif %}
                        <div class="form-group">
                            <label for="{{ input.widget.id }}">{{ input.label }}</label>
                            {{ input }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <div class="form-group mt-3">
                        <button
                                type="submit"
                                class="button button-contactForm boxed-btn">Send form</button>
                    </div>
        </form>
    </div>
    <div class="col-lg-3 offset-lg-1">
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
                <h3>New York NY , USA.</h3>
                <p>239 E 5th St, 10003</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
                <h3>+555 0000 565</h3>
                <p>Mon - Sat 10:00am - 7:00pm</p>
            </div>
        </div>
        <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
                <h3>Demomail@gmail.Com</h3>
                <p>Send us your query anytime!</p>
            </div>
        </div>
    </div>
</div>
