{% load static %}
<div class="contact_anipat anipat_bg_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>Why go with Anipat?</h3>
                            <p>Because we know that even the best technology is only as good as the people behind it. 24/7 tech support.</p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <a href="{% url 'contact' %}" class="boxed-btn4">Contact Us</a>
                            <p>Or  <a href="tel:+880 4664 216">+880 4664 216</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>